$block-width: 32px;
$world-height-in-blocks: 21;
$world-width-in-blocks: 21;

@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes rumble {
  0% {
    transform: translate3d(0px, 0, 0);
  }
  10%,
  90% {
    transform: translate3d(-2px, -2px, 0);
  }
  20%,
  80% {
    transform: translate3d(4px, 4px, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, -8px, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 8px, 0);
  }
}

@keyframes glow {
  from {
    text-shadow: 1px 1px 15px #89d3db, -1px -1px 15px #89d3db;
  }
  to {
    text-shadow: 0px 0px 20px #175b63, 0px 0px 10px #188692;
  }
}

@keyframes redglow {
  from {
    text-shadow: 1px 1px 15px #e75512, -1px -1px 15px #f73504;
  }
  to {
    text-shadow: 1px 1px 15px #cfa48f, -1px -1px 15px #b97763;
  }
}

@keyframes shine {
  from {
    text-shadow: 3px 3px 15px #89d3db, -3px -3px 15px #89d3db;
  }
  to {
    text-shadow: 0px 0px 20px #06565f, 0px 0px 10px #085a63;
  }
}

@keyframes vortex {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

body {
  background-color: #0d0f0d;
  color: white;
  display: flex;
  max-height: 88vh;
}

.sign-in {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.options {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 16px;
}

.create-account,
.existing-user {
  padding: 24px;
  margin: 16px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 2px 2px whitesmoke;
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 240px;
  background-color: #0d1818;
}

.signin-form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin: 16px;
}

.submit-ready {
  width: 128px;
  background-color: yellowgreen;
}

.submit-unready {
  width: 128px;
  background-color: tomato;
}

.player {
  transition-duration: 0.125s;
  position: absolute;
  width: $block-width * 1.1;
  z-index: 1;
}

.attack {
  position: absolute;
}

.baddie-moving {
  transition-duration: 0.25s;
  position: absolute;
  width: $block-width * 1.1;
  height: $block-width * 1.1;
}

.baddie-trans {
  position: absolute;
  transition-duration: 0s;
  width: $block-width * 1.1;
  height: $block-width * 1.1;
}

.boss {
  width: $block-width * 1.6;
  height: $block-width * 1.6;
}

// Fighting back against chirality-related issues!
.flowing-right {
  transform: rotate(0deg);
}

.flowing-down {
  transform: rotate(90deg);
}

.flowing-left {
  transform: rotate(180deg);
}

.flowing-up {
  transform: rotate(270deg);
}

.world {
  margin-top: 1%;
  margin-left: 10%;
  border: 2px solid #ffaee5;
  width: $world-width-in-blocks * $block-width;
  height: $world-height-in-blocks * $block-width;
  position: relative;
  font-size: 36px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .rumbling {
    animation: rumble 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.background {
  width: $world-width-in-blocks * $block-width;
  height: $world-height-in-blocks * $block-width;
  position: absolute;
  background-image: url('../assets/backgrounds/background001.png');
  opacity: 33%;
}

.sidebar-container {
  margin-top: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: $block-width * 9;
  height: $world-height-in-blocks * $block-width;
  border: 2px solid cyan;
  border-radius: 8px;
}

.sidebar {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: $world-width-in-blocks * $block-width / 3;
  padding: 12px;
  border: 1px solid cyan;
}

.username {
  max-width: 50%;
  color: white;
}

.logout {
  position: relative;
  margin-left: 30%;
  border-radius: 8px;
}

.top {
  border-radius: 8px 8px 0px 0px;
  display: flex;
}

.bottom {
  border-radius: 0px 0px 8px 8px;
}

.sidebar-button {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  height: 64px;
  width: $block-width * 7;
  background-color: aqua;
  color: darkred;
  font-size: 28px;
  font-weight: bold;
}

.block {
  position: absolute;
  width: $block-width;
  z-index: 1;
}

.golden-egg {
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 12px gold;
}

.portal {
  margin-left: -$block-width * 0.75;
  margin-bottom: -$block-width * 0.75;
  height: $block-width * 3;
  width: $block-width * 3;
  filter: blur(1px);
  border-radius: 50%;
  z-index: 100;
  animation: spin 6s linear infinite reverse;
}

.XP {
  animation: shine 1.5s ease-in-out alternate;
}

.levelup {
  animation: shine 1.5s ease-in-out infinite alternate;
}

.text {
  position: relative;
  z-index: 100;
}

.intro {
  animation: shine 2.5s ease-in-out infinite alternate;
  position: relative;
}

.achievement {
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  animation: glow 1.5s ease-in-out infinite alternate;
}

.obituary {
  color: rgb(231, 91, 91);
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  animation: redglow 1.5s ease-in-out infinite alternate;
  z-index: 100;
}
