@keyframes spin {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes rumble {
  0% {
    transform: translate3d(0px, 0, 0); }
  10%,
  90% {
    transform: translate3d(-2px, -2px, 0); }
  20%,
  80% {
    transform: translate3d(4px, 4px, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, -8px, 0); }
  40%,
  60% {
    transform: translate3d(8px, 8px, 0); } }

@keyframes glow {
  from {
    text-shadow: 1px 1px 15px #89d3db, -1px -1px 15px #89d3db; }
  to {
    text-shadow: 0px 0px 20px #175b63, 0px 0px 10px #188692; } }

@keyframes redglow {
  from {
    text-shadow: 1px 1px 15px #e75512, -1px -1px 15px #f73504; }
  to {
    text-shadow: 1px 1px 15px #cfa48f, -1px -1px 15px #b97763; } }

@keyframes shine {
  from {
    text-shadow: 3px 3px 15px #89d3db, -3px -3px 15px #89d3db; }
  to {
    text-shadow: 0px 0px 20px #06565f, 0px 0px 10px #085a63; } }

@keyframes vortex {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

body {
  background-color: #0d0f0d;
  color: white;
  display: flex;
  max-height: 88vh; }

.sign-in {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.options {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 16px; }

.create-account,
.existing-user {
  padding: 24px;
  margin: 16px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 2px 2px whitesmoke;
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 240px;
  background-color: #0d1818; }

.signin-form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.input-field {
  margin: 16px; }

.submit-ready {
  width: 128px;
  background-color: yellowgreen; }

.submit-unready {
  width: 128px;
  background-color: tomato; }

.main-menu {
  border: 3px solid whitesmoke;
  border-radius: 12px;
  position: relative;
  width: 60%;
  height: 90%;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1% 5% 1% 5%; }

.menu-button {
  border: 2px solid cyan;
  border-radius: 12px;
  height: 64px;
  min-width: 336px;
  color: whitesmoke;
  background-color: black;
  box-shadow: 0px 0px 2px 4px whitesmoke;
  font-size: 1em;
  margin-bottom: 32px;
  align-self: center; }

.player {
  transition-duration: 0.125s;
  position: absolute;
  width: 35.2px;
  z-index: 1; }

.attack {
  position: absolute; }

.baddie-moving {
  transition-duration: 0.25s;
  position: absolute;
  width: 35.2px;
  height: 35.2px; }

.baddie-trans {
  position: absolute;
  transition-duration: 0s;
  width: 35.2px;
  height: 35.2px; }

.boss {
  width: 51.2px;
  height: 51.2px; }

.flowing-right {
  transform: rotate(0deg); }

.flowing-down {
  transform: rotate(90deg); }

.flowing-left {
  transform: rotate(180deg); }

.flowing-up {
  transform: rotate(270deg); }

.world {
  margin-top: 1%;
  margin-left: 10%;
  border: 2px solid #ffaee5;
  width: 672px;
  height: 672px;
  position: relative;
  font-size: 36px;
  border-radius: 8px;
  overflow: hidden;
  text-align: center; }

@media (prefers-reduced-motion: no-preference) {
  .rumbling {
    animation: rumble 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; } }

.background {
  width: 672px;
  height: 672px;
  position: absolute;
  background-image: url("../assets/backgrounds/background001.png");
  opacity: 33%; }

.sidebar-container {
  margin-top: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 672px;
  border: 2px solid cyan;
  border-radius: 8px; }

.sidebar {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 224px;
  padding: 12px;
  border: 1px solid cyan; }

.healthbar-box {
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 248px;
  padding: 12px 0px;
  border: 1px solid cyan;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.healthbar {
  padding: 0px 4px 0px 4px;
  margin: 0px;
  text-align: center;
  height: 32px;
  max-width: 224px;
  border: 2px solid #9b0404;
  color: #9b0404;
  font-weight: bolder;
  font-size: 1.6em;
  text-shadow: 1px 1px black;
  border-radius: 16px; }

.username {
  max-width: 50%;
  color: white; }

.logout {
  position: relative;
  margin-left: 30%;
  border-radius: 8px; }

.top {
  border-radius: 8px 8px 0px 0px;
  display: flex; }

.bottom {
  border-radius: 0px 0px 8px 8px; }

.sidebar-button {
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 2px solid whitesmoke;
  height: 64px;
  width: 224px;
  background-color: aqua;
  color: darkred;
  font-size: 28px;
  font-weight: bold; }

.block {
  position: absolute;
  width: 32px;
  z-index: 1; }

.golden-egg {
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 12px gold; }

.portal {
  margin-left: -24px;
  margin-bottom: -24px;
  height: 96px;
  width: 96px;
  filter: blur(1px);
  border-radius: 50%;
  z-index: 100;
  animation: spin 6s linear infinite reverse; }

.XP {
  animation: shine 1.5s ease-in-out alternate; }

.levelup {
  animation: shine 1.5s ease-in-out infinite alternate; }

.text {
  position: relative;
  z-index: 100; }

.intro-shine {
  animation: shine 2.5s ease-in-out infinite alternate;
  position: relative; }

.achievement {
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  animation: glow 1.5s ease-in-out infinite alternate;
  position: relative; }

.menu-achievement {
  text-decoration: line-through; }

.obituary {
  color: #e75b5b;
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  animation: redglow 1.5s ease-in-out infinite alternate;
  z-index: 100;
  position: relative; }
