@keyframes spin {
  from {
    transform: rotateZ(0deg); }
  to {
    transform: rotateZ(360deg); } }

@keyframes rumble {
  0% {
    transform: translate3d(0px, 0, 0); }
  10%,
  90% {
    transform: translate3d(-2px, -2px, 0); }
  20%,
  80% {
    transform: translate3d(4px, 4px, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, -8px, 0); }
  40%,
  60% {
    transform: translate3d(8px, 8px, 0); } }

@keyframes glow {
  from {
    text-shadow: 1px 1px 15px #89d3db, -1px -1px 15px #89d3db; }
  to {
    text-shadow: 0px 0px 20px #175b63, 0px 0px 10px #188692; } }

@keyframes redglow {
  from {
    text-shadow: 1px 1px 15px #e75512, -1px -1px 15px #f73504; }
  to {
    text-shadow: 1px 1px 15px #cfa48f, -1px -1px 15px #b97763; } }

@keyframes shine {
  from {
    text-shadow: 3px 3px 15px #89d3db, -3px -3px 15px #89d3db; }
  to {
    text-shadow: 0px 0px 20px #06565f, 0px 0px 10px #085a63; } }

@keyframes shinebox {
  from {
    text-shadow: 3px 3px 15px #89d3db, -3px -3px 15px #89d3db;
    box-shadow: 3px 3px 15px #89d3db, -3px -3px 15px #89d3db; }
  to {
    text-shadow: 0px 0px 20px #06565f, 0px 0px 10px #085a63;
    box-shadow: 0px 0px 20px #06565f, 0px 0px 10px #085a63; } }

@keyframes vortex {
  0% {
    transform: rotateZ(0deg); }
  100% {
    transform: rotateZ(360deg); } }

@keyframes drift {
  0% {
    transform: translate(0, 0); }
  100% {
    transform: translate(0, -96px); } }

@keyframes bobbing {
  0% {
    transform: translate(0, -4px); }
  50% {
    transform: translate(0, -8px); }
  100% {
    transform: translate(0, -4px); } }

body {
  background-color: #0d0f0d;
  color: white;
  display: flex;
  max-height: 88vh;
  font-family: 'Russo One', sans-serif; }

.sign-in {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.options {
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 16px; }

.create-account,
.existing-user {
  padding: 24px;
  margin: 16px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 2px 2px whitesmoke;
  display: flex;
  flex-direction: column;
  height: 360px;
  width: 240px;
  background-color: #0d1818;
  align-items: center; }

.signin-form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.input-field {
  margin: 16px; }

.submit-ready {
  width: 128px;
  background-color: yellowgreen; }

.submit-unready {
  width: 128px;
  background-color: tomato; }

.launch-map-editor-btn {
  width: 192px;
  height: 64px;
  color: #1a051f;
  font-size: 20px;
  font-weight: bold;
  background-color: yellowgreen;
  border: 2px solid whitesmoke;
  border-radius: 12px;
  padding: 8px; }

.main-menu {
  border: 3px solid whitesmoke;
  border-radius: 18px;
  position: relative;
  width: 60%;
  height: 90%;
  margin-top: 2%;
  margin-left: 4%;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1% 5% 1% 5%; }

.menu-button {
  border: 2px solid cyan;
  border-radius: 12px;
  height: 64px;
  min-width: 336px;
  color: whitesmoke;
  font-family: 'Russo One';
  background-color: black;
  box-shadow: 0px 0px 2px 4px whitesmoke;
  font-size: 1em;
  margin-bottom: 32px;
  align-self: center; }

.skill-tree {
  position: relative;
  height: 352px;
  width: 544px;
  background-color: #1d041d;
  align-self: center;
  margin-bottom: 32px;
  border: 2px solid rgba(0, 250, 154, 0.89);
  border-radius: 12px; }

.skill-tree-container {
  border-radius: 50%;
  background-color: #1d041d;
  height: 64px;
  width: 64px;
  position: absolute;
  margin: 0;
  z-index: 3;
  padding: 16px 4px 0px 4px;
  line-height: 8px;
  cursor: pointer; }

.skill-tree-container .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 16px;
  border: 3px solid #000;
  position: absolute;
  z-index: 10;
  bottom: 80%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  line-height: 16px; }

.skill-tree-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
  z-index: 10; }

.available {
  border: 2px solid rgba(0, 250, 154, 0.89);
  box-shadow: 0px 0px 4px yellowgreen; }
  .available:hover {
    box-shadow: 0px 0px 16px rgba(0, 250, 154, 0.89); }

.purchased {
  border: 2px solid limegreen;
  box-shadow: 0px 0px 12px limegreen; }

.unavailable {
  border: 2px solid gray;
  box-shadow: 0px 0px 4px gray; }
  .unavailable:hover {
    box-shadow: 0px 0px 8px red; }

.skill-tree-text {
  font-size: 12px; }

.skill-tree-branch {
  position: absolute;
  z-index: 2;
  height: 24px;
  width: 38px; }

.skill-tree-pts-remaining {
  position: absolute;
  color: rgba(0, 250, 154, 0.89);
  padding: 16px;
  border-radius: 4px; }

.slideshow {
  margin-top: 1%;
  margin-left: 10%;
  height: 640px;
  width: 768px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000; }

.slide {
  align-self: center;
  margin: 16px;
  height: 403.2px;
  width: 716.8px; }

.skip-button {
  position: absolute;
  bottom: 0px;
  border: 2px solid cyan;
  border-radius: 12px;
  height: 48px;
  min-width: 268.8px;
  color: whitesmoke;
  background-color: black;
  font-size: 0.75em;
  margin-bottom: 16px;
  align-self: center; }

.dialogue {
  transition-duration: 0.125s;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 3px solid black;
  border-radius: 50%;
  position: absolute;
  padding: 12px;
  width: 192px;
  z-index: 150; }

.bubble-tick {
  transition-duration: 0.125s;
  position: absolute;
  bottom: -32px;
  left: 40%;
  height: 32px;
  width: 32px;
  z-index: 150; }

.popup {
  position: absolute;
  animation: drift 10s linear infinite;
  font-size: 32px;
  font-weight: bolder;
  z-index: 1000;
  max-width: 192px; }

.announcement-health {
  font-size: 32px;
  color: limegreen;
  text-shadow: 0px 4px 12px limegreen; }

.announcement-experience {
  font-size: 16px;
  color: rgba(0, 250, 154, 0.89);
  text-shadow: 0px 4px 12px rgba(0, 250, 154, 0.89); }

.announcement-steroids {
  font-size: 16px;
  color: #9b0404;
  text-shadow: 0px 4px 12px #9b0404; }

.announcement-levelup {
  font-size: 32px;
  color: #f1e647;
  text-shadow: 0px 4px 12px #f1e647; }

.player {
  transition-duration: 0.125s;
  position: absolute;
  width: 35.2px;
  z-index: 1; }

.attack {
  position: absolute; }

.baddie-moving {
  transition-duration: 0.25s;
  position: absolute;
  width: 35.2px;
  height: 35.2px; }

.baddie-trans {
  position: absolute;
  transition-duration: 0s;
  width: 35.2px;
  height: 35.2px; }

.boss {
  width: 51.2px;
  height: 51.2px; }

.flowing-right {
  transform: rotate(0deg); }

.flowing-down {
  transform: rotate(90deg); }

.flowing-left {
  transform: rotate(180deg); }

.flowing-up {
  transform: rotate(270deg); }

.world {
  margin-top: 1%;
  margin-left: 10%;
  border: 2px solid #ffaee5;
  width: 672px;
  height: 672px;
  position: relative;
  font-size: 36px;
  border-radius: 12px;
  overflow: hidden;
  text-align: center; }

@media (prefers-reduced-motion: no-preference) {
  .rumbling {
    animation: rumble 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; } }

.background {
  width: 672px;
  height: 672px;
  position: absolute;
  background-image: url("../assets/backgrounds/background001.png");
  opacity: 33%; }

.sidebar-container {
  margin-top: 1%;
  margin-left: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 288px;
  height: 672px;
  border: 2px solid cyan;
  border-radius: 12px; }

.sidebar {
  color: white;
  width: 224px;
  padding: 12px;
  border: 1px solid cyan; }

.sidebar-label {
  position: relative;
  margin: 0 0 8px 0; }

.healthbar-box {
  color: white;
  width: 248px;
  padding: 12px 0px;
  border: 1px solid cyan;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; }

.healthbar {
  padding: 0px 4px 0px 4px;
  margin: 0px;
  text-align: center;
  height: 32px;
  max-width: 224px;
  border: 2px solid #9b0404;
  color: #9b0404;
  font-weight: bolder;
  font-size: 1.6em;
  text-shadow: 1px 1px black;
  border-radius: 16px; }

.experiencebar-box {
  color: white;
  width: 240px;
  height: 80px;
  padding: 12px 4px;
  border: 1px solid cyan;
  text-align: center;
  justify-content: left;
  align-items: left;
  display: flex;
  flex-direction: column;
  position: 'relative'; }

.experiencebar-shell {
  color: rgba(0, 250, 154, 0.89);
  border: 2px solid rgba(0, 250, 154, 0.89);
  background-image: linear-gradient(rgba(36, 152, 230, 0.829), #102d41);
  padding: 2px;
  height: 24px;
  border-radius: 12px; }

.experiencebar-inner {
  background-image: linear-gradient(rgba(125, 255, 205, 0.89), #23be83);
  height: 24px;
  border-radius: 10px; }

.username {
  max-width: 50%;
  color: white; }

.logout {
  position: relative;
  margin-left: 30%;
  border-radius: 12px; }

.top {
  border-radius: 12px 12px 0px 0px;
  display: flex; }

.bottom {
  border-radius: 0px 0px 12px 12px; }

.sidebar-button {
  margin: 16px;
  padding: 16px;
  border-radius: 24px;
  border: 2px solid #225555;
  height: 64px;
  width: 224px;
  background-image: linear-gradient(rgba(8, 224, 26, 0.8), rgba(7, 51, 11, 0.8));
  color: #180014;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Russo One', sans-serif; }

.block {
  position: absolute;
  width: 32px;
  z-index: 1; }

.item {
  position: absolute;
  width: 32px;
  z-index: 2;
  border-radius: 50%;
  background-color: rgba(48, 233, 48, 0.33);
  box-shadow: 0px 0px 16px 8px rgba(48, 233, 48, 0.5);
  animation: bobbing 3s linear infinite; }

.golden-egg {
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 12px gold; }

.portal {
  margin-left: -24px;
  margin-bottom: -24px;
  height: 96px;
  width: 96px;
  filter: blur(1px);
  border-radius: 50%;
  z-index: 100;
  animation: spin 6s linear infinite reverse; }

.XP {
  animation: shine 1.5s ease-in-out alternate; }

.levelup {
  animation: shinebox 2.5s ease-in-out infinite alternate; }

.text {
  position: relative;
  z-index: 100; }

.prev-next-lvl {
  position: relative; }

.intro-shine {
  animation: shine 2.5s ease-in-out infinite alternate;
  position: relative; }

.achievement {
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  animation: glow 1.5s ease-in-out infinite alternate;
  position: relative; }

.menu-achievement {
  text-decoration: line-through; }

.obituary {
  color: #e75b5b;
  background-color: black;
  padding: 4px;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  animation: redglow 1.5s ease-in-out infinite alternate;
  z-index: 100;
  position: relative; }
